# Database Configuration
DATABASE_URL=sqlite:///./test.db
DATABASE_TEST_URL=postgresql://postgres:postgres@localhost:5432/ai_gym_coach_test

# Redis Configuration
#REDIS_URL=redis://localhost:6379/0

# JWT Configuration
SECRET_KEY=om_secure_key_12345
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# LLM API Configuration
OPENAI_API_KEY=AIzaSyBki39mhexrzE4cn5lW6KSBXue-_P2ix9U

# Server Configuration
HOST=0.0.0.0
PORT=8000
RELOAD=true

# Environment
ENVIRONMENT=development
